<div class="edit-container">
  <div class="issue-img">
    <%= image_tag @issue.photo.fullpath, width: 118, height: 118, crop: :fill %>
  </div>
  <div class="edit-img">
    <%= image_tag "modeloD.svg" %>
  </div>

  <div class="edit-form-1">
  <p class="edit-title">Appliance: <%= @issue.name %></p>
  <p class="edit-sub-title">Your email: <%= current_user.email %></p>
  <p class="edit-sub-title">Address: <%= current_user.rented_apartments.first.address %></p>
</div>
  <div class="edit-form-2">
    <h5 class="edit-sub-title">Question Log</h5>
      <% @issue.questionnaire.each do |question| %>
        <% q1 = question.slice(/(?<q>.*)(?<a>(Yes|No))\z/, "q") %>
        <% q2 = question.slice(/(?<q>.*)(?<a>(Yes|No))\z/, "a") %>
        <p> <%= q1 %> <span class=<%= q2 %>><%= q2 %></span> </p>
      <% end %>
  </div>
  <div class="edit-form-3">
    <%= simple_form_for([current_user, @issue]) do |f| %>
    <div class="edit-sub-title">
      <%= f.input :comment %>
    </div>
  <%= f.submit 'Find an engineer', class: "btn-primary btn-block", id: "fcb-btn-2"%>
  </div>
  <% end %>
</div>
