




<div class="container">
  <%= @issue.name %>

  <div class="row">

    <div class="col-xs-6 col-md-6">
      <%= cl_image_tag @issue.photo.path, width: 200, height: 300, crop: :fill %>

        <!-- FORM -->
        <%= simple_form_for([current_user, @issue]) do |f| %>
            Describe your issue: <%= f.input :name %>


    </div>

    <div class="col-xs-6 col-md-6" >
      <%= image_tag "modeloC.svg" %>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">

      <%= f.input :comment %>
      <%= f.submit  %>
      <%= link_to 'Send email',  user_issue_send_email_path(current_user, @issue), method: :post %>
    <% end %>
    </div>
  </div>


</div>



