<h1>Issues#edit</h1>
<%= @issue.name %>


<%= simple_form_for([current_user, @issue]) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Lets try some questions", user_issue_question_path(current_user.id, @issue.id, 0) %>
