<div class="main">
  <div class="edit-container">
    <div class="row">
      <%= @issue.name %>

      <div class="issue-img">
        <%= cl_image_tag @issue.photo.path %>
      </div>

        <!-- FORM -->
        <%= simple_form_for([current_user, @issue]) do |f| %>
        Describe your issue: <%= f.input :name %>

      </div>

      <div class="edit-img">
        <%= image_tag "modeloC.svg" %>
      </div>


    </div>

    <div class="row">
      <div class="col-md-12">

        <%= f.input :comment %>
        <%= f.submit  %>
        <%= link_to 'Send email',  user_issue_send_email_path(current_user, @issue), method: :post %>
        <% end %>
      </div>
    </div>
  </div>
</div>



