<div class="main-edit">
  <div class="edit-container">
    <div class="issue-img">
      <%= image_tag @issue.photo.fullpath, width: 118, height: 118, crop: :fill %>
    </div>

    <div class="edit-form-1">
      <!-- FORM -->
      <div class="edit-title">
        <%= @issue.name %>
      </div>
      <%= simple_form_for([current_user, @issue]) do |f| %>
      <!-- Describe your issue: <%= f.input :name %> -->
      <div class="edit-sub-title"><%= f.input :comment %></div>
    </div>
    <div class="edit-form-2">
      <div class="edit-sub-title">
        <b>Question Log</b>
      </div>
      <div class="edit-form-3">
        questions come here
      </div>
      <%= f.submit  %>
      <%= link_to 'Send email',  user_issue_send_email_path(current_user, @issue), method: :post %>
      <% end %>
    </div>

    <div class="edit-img">
      <%= image_tag "modeloD.svg" %>
    </div>
  </div>
</div>



