
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="row">
        <div class="col-md-12">
          <p>Name</p>
          <%= @issue.name %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

           <p>Comment</p>
           <%= @issue.comment %>
        </div>
      </div>

    <% if @issue.photo? %>
      <%= cl_image_tag @issue.photo.path, width: 200, height: 300, crop: :fill %>
    <% end %>

    <%= link_to "Edit", edit_user_issue_path(current_user.id, @issue.id) %>
    <%= link_to "Delete", user_issue_path(current_user.id, @issue.id), method: :delete %>

    </div>
  </div>
</div>






