<!-- <div class="grid-container">

  <div class="grid-item-1">
    <ul class="list-inline">
      <li> upload your picture here </li>
      <br>
      <li><div class="init-square"></div></li>
    </ul>

    <% if current_user %>
      <%= simple_form_for([current_user, @issue]) do |f| %>
      <%= f.input :photo,as: :attachinary, input_html: { accept: "image/*", capture: "camera" } %>
      <%= f.button :submit %>
      <% end %>
    <% end %>
  </div>

  <div class="grid-item-2">
    <div class="splash-img">
      <%= image_tag "modeloA.svg" %>
    </div>
  </div>

  <div class="grid-item-3">
    <div class="btn-tb">
      <ul class="list-inline">
        <li><a class="positive" href="#"><i class="fa fa-check" id="check"></i></a></li>
        <li><a class="negative" href="#"><i class="fa fa-times" id="times"></i></a></li>
        <br><br>
        <li><a class="form" href="#"><i class="fa fa-file-text" id="form"></i></a></li>
      </ul>
    </div>
  </div>
</div>
 -->
<div class="home-page">
  <div class="home-page__background-image" style="background-image: url('<%= image_path "modeloA.svg" %>')"></div>
  <div class="home-page__photo-upload" >
    <% if current_user %>
      <%= simple_form_for([current_user, @issue]) do |f| %>
        <%= f.input :photo,as: :file, input_html: { accept: "image/*", capture: "camera" } %>
      <% end %>
    <% end %>
  </div>
</div>
