
  <% if current_user %>
  <%= link_to "Upload this pic mr secretary!!!", new_user_issue_path(current_user) %>
  <% else %>
  <div class="input-btn"><%= link_to "SIGN IN", new_user_session_path %>
  <% end %></div>
<br>

<% if current_user %>

<%= simple_form_for([current_user, @issue]) do |f| %>
<%= f.input :photo,as: :attachinary, input_html: { accept: "image/*", capture: "camera" } %>
<%= f.button :submit %>

 <% end %>
<% end %>

<div class="splash-img">
  <%= image_tag "modeloA.svg" %>
</div>

<div class="btn-tb">
  <ul class="list-inline">
    <li><a class="positive" href="#"><i class="fa fa-check" id="check"></i></a></li>
    <li><a class="negative" href="#"><i class="fa fa-times" id="times"></i></a></li>
    <br>
    <li><a class="form" href="#"><i class="fa fa-file-text" id="form"></i></a></li>
  </ul>
</div>

